
.title{
    color:chocolate;
    font-size: 110px;
}
.button{
    background-color: #32d4f0;
    border:  2px solid black;
    font-size: 60px;
    color: black;
}
.banner{
    width: 800px;
}
.bannerDiv{
    display: flex;
    justify-content: center;
    background: linear-gradient( violet, blue)
}
.name{
    color: wheat;
}
.img{
    width: 250px;
    height: 250px;
}
.cardStudent{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url('https://static.vecteezy.com/system/resources/thumbnails/007/994/607/small/rainbow-coloured-hand-painted-watercolour-background-free-vector.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.star{
    font-size: 200px;
}
.like{
    font-size: 50px;
}
.i{
    font-size: 50px;
}
.starDiv{
    width: 80vw;
    display: flex;
    justify-content: center;
}
.divLikes{
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.dinIcons{
    display: flex;
    justify-content: space-around;
}
.card{
    max-width: 300px;
    border: 5px solid violet !important;
    margin: 10px;
    background: url('https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=2000') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.navDiv{
    width: 100vw !important;
    height: 60px;
}
.navUl{
    display: flex;
}
li{
    list-style-type:none !important;
}
a{
    color: violet ;
    font-size: 30px;
}
.form{
    width: 700px;
}
label{
font-size: 50px;
}
.but{
    width: 200px;
    height: 80px;
}
.divForm{
    width: 100vw;
    height: 100vh;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/4d845686128681.5d909dad4ddd3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    background-color: aqua;
}
.divMain{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgMain{
   width:900px;
}
@media (max-width: 750px) {
    .imgMain{width: 500px;}
}

@media (max-width: 500px) {
.img{
        width: 200px;
        height: 200px;
    }
.cardStudent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.star{
    font-size: 80px;
}
}
@media ( max-width: 1010px) {
    .img{
        width: 300px;
        height: 300px;
    }
.cardStudent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.star{
    font-size: 100px;
}
}